ui/node_modules/
llm/.env
ui/src/firebase.jsx
llm/db/*
llm/data/*
llm/stage_data/*
llm/rag-env
llm/__pycache__
scratch*
llm/custom_db
ui/dist/
/llm/rag_data/
llm/rags-venv/
llm/pure_venv/
llm/venv
llm/router/__pycache__
llm/.env*
ui/src/assets/sun.jpeg
ui/src/assets/ven0aaa2.tif
ui/src/components/SolarSystem.jsx
ui/.env.production
ui/.env*
